# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev/front/plan.io/.env
dev/back/archive.zip
dev/back/archive2.zip
dev/back/archive3.zip
dev/back/archive4.zip
dev/back/archive5.zip
dev/back/archive6.zip
dev/back/archive7.zip
